/wp-content/themes/twentytwentyfour/node_modules/
/wp-includes/
/wp-admin/
/wp-content/themes/lbp/assets/images/tables/a1/
/wp-content/themes/lbp/assets/images/tables/a2/
/wp-content/themes/lbp/assets/images/tables/b1/
/wp-content/themes/lbp/assets/images/tables/b2/
